APP_NAME=MiguelOS
APP_ENV=production
APP_DEBUG=false
APP_URL=https://miguelos.miguelmesa.info
APP_BASE_PATH=
APP_TIMEZONE=America/Mexico_City

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=miguelos
DB_USERNAME=
DB_PASSWORD=
